.main-carousel {
    height: 300px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.carousel-cell {
    width: 180px;
    height: 230px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 5px;

    counter-increment: carousel-cell;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    z-index: 99;
}

.carousel-cell:hover {


    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);

}

.flickity-viewport {
    overflow: visible !important;
}

.coverContainer {
    background: #8C8;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}