.headerPresentation {
    height: 550px;
    position: relative;
    background-attachment: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), #262626), url("https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/j28p5VwI5ieZnNwfeuZ5Ve3mPsn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    padding: 15;
    z-index: 1;
    color: white;
    /* box-shadow: inset 1px -25px 11px 7px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 1px -25px 11px 7px rgba(0, 0, 0, 0.8);*/


}

.headerPresentation img {
    height: 100%;
    width: 100%;
    margin-top: 0;

}


.container {
    position: absolute;
    top: 0;
    left: 2.5%;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: flex;
    padding: 1.5rem;
    align-items: center;


}



.container p,
.container span,
.container h5,
.container button {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;

}

.container button:nth-child(2) {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}

.titleMovie {
    font-size: 2rem;
    text-shadow: #e0e0e0 1px 1px 0,
        2px 2px 2px rgba(0, 0, 0, 1);
}

.tagLine,
.genre {
    color: rgb(221, 221, 231);
    font-size: 1.3rem;

}

.tagLine {
    font-weight: 200;
    font-style: italic;
}