.mainContainer {
    width: 100%;
    height: 100vh;


}

.mainProfil {
    max-width: 1400px;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px 0 0;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
    position: relative;
    margin-top: 5%;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    background-color: #424242;
}

.leftSide {
    position: relative;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}


.avatarSection {
    padding: 15px;
    align-self: top;
    position: relative;
    width: 100%;
    text-align: center;

}

.avatarSection img {
    width: 180px;
    height: 180px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;

}

.pseudo {
    margin-top: 2rem;
    margin-bottom: 0.3rem;
    font-size: 2.2rem;
    font-weight: 200;
}

.userPresentation {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
}

.sinceDate {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
    font-style: italic;
}

.statSection {
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

}

.followStats {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.followItem {
    text-align: center;
    width: 25%;
}

.followItem p {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #F93154;
}

.leftSectionBottom {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
}

.leftSectionBottom span {
    transition: all ease-in 0.3s;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
    color: #F93154;
    font-weight: 200;
    cursor: pointer;
}

.leftSectionBottom span:hover {

    font-size: 1.1rem;
}

/**Right Side **/

.rightSideWrapper {
    margin-top: 0.4rem;
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 14px;
}

.tabPaneWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showFavoris {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.posterFavorisWrapper {
    position: relative;
    width: 135px;
    height: 180px;
    margin: 0.5rem;
    padding: 0.5px;
    flex-shrink: 2;

}

.posterFavoris {
    display: block;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    object-fit: contain;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.favorisBtn {
    position: absolute;
    top: -2%;
    right: 0;
    font-size: 1.5rem;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    opacity: 0;
}

.posterFavoris:hover+.favorisBtn {
    opacity: 1;

}

.favorisBtn:hover {
    opacity: 1;
    cursor: pointer;
}

/***Edit Profil **/

.editProfileWrapper {
    margin-top: 3.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sectionEdit {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow-x: hidden;
}

.sectionPresentation {
    width: 60%;
}

.contentInput {}

.formApparence input,
.formApparence textarea {
    /* background-color: transparent;*/
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
}

.submitZone,
.messageZone {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.messageZone {
    height: 2.5rem;
}

.avatarContainer {

    margin-bottom: 1rem;

}

.editAvatarBtn {
    display: flex;
    margin-top: 1rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.editAvatarIcon {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.editAvatarIcon:hover {
    color: #F93154;
}

@media screen and (max-width: 1200px) {
    .mainProfil {
        margin-top: 7%;
        max-width: 95%;
    }
}

@media screen and (max-width: 780px) {
    .mainProfil {
        margin-top: 8%;

    }

    .pseudo {
        font-size: 1.5rem;
    }

    .userPresentation,
    .sinceDate {
        font-size: 0.7rem;
    }

    .followItem {
        width: 100%;
    }

    .followItem p {
        font-size: 1.5rem;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }

    .followItem span {
        font-size: 1rem;
    }

    .rightSideWrapper a {
        font-size: 0.67rem !important;
    }

    .followStats {
        flex-direction: column;
    }
}

@media screen and (max-width:550px) {

    .mainProfil {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .sectionPresentation {
        width: 100%;
    }

    .leftSide {
        margin-top: 1rem;
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
        height: auto;
    }

    .avatarSection {
        margin-top: 5%
    }

    .rightSideWrapper {
        border-top-left-radius: 14px;
        padding-bottom: 1.5rem;
        height: 100%;
    }

    .submitZone button {
        font-size: 0.6rem;
    }

    .followItem p {
        font-size: 2rem;
    }

    .followItem span {
        font-size: 1rem;
    }


    .posterFavorisWrapper {
        margin-left: auto;
        margin-right: auto;
    }

    .posterFavorisWrapper:last-of-type {
        margin-left: 1rem;
        margin-right: initial;

    }



}