.headerTabs {
    padding-top: 12px;
    color: white;
    position: relative;
    padding-bottom: 12px;
    min-height: 250px;
}

.movieLists {
    padding-top: 25px;
    padding-bottom: 18px;
    height: 100%;
    overflow: hidden;


}

.movieItem {
    padding: 6px;
    width: 180px;
    height: 250px;

}

.movieItem img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all ease-in 0.3s;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;

}

.movieItem:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

@media screen and (max-width:480px) {
    .headerTabs a {
        font-size: 0.4rem !important;
    }

    .movieLists {
        top: 1.2rem;
        width: 100%;
        font-size: 0.6rem;
    }

    .movieItem {
        width: 90px;
        height: 120px;
        margin-left: 0;
        margin-right: 0;
    }
}