@import "_variables_overrides.scss";
@import '../../../../node_modules/mdb-react-ui-kit/dist/scss/mdb.free.scss';



.carousel-inner {
    height: 100% ;
  }
  
  .carousel-item-react {
    height: 100% ;
  }
  