.contactCardContainer {
    height: 90px;
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background: linear-gradient(to right, rgba(26, 26, 26, 0.4), rgba(20, 20, 20, 1));
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;

}

.contactCardContainer:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.left {

    display: flex;
}

.left img {
    background: linear-gradient(to right, rgba(26, 26, 26, 0.6), rgba(26, 26, 260, 1));
    width: 40px;
    height: 40px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.pseudo {
    margin-left: 0.8rem;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.bottom {
    text-align: right;
    font-weight: 200;
}

.followBtn {
    text-align: center;
    border-radius: 5px;
    color: #F93154;
    padding: 5px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    font-weight: bold;
}

.unfollowBtn {
    text-align: center;
    border-radius: 5px;
    padding: 5px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    font-style: italic;
}

.unfollowBtn:hover {
    font-weight: bold;
}