.socialContainer {
    max-width: 1600px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 0 25px;
    min-height: 100vh;
    margin-top: 4%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #424242;

}

.leftSocialCol,
.rightSocialCol,
.mainSocialCol {

    padding: 12px;

    display: flex;
    flex-direction: column;

    height: 100%;


}

.mainSocialCol {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.rightSocialCol {
    overflow: hidden;

    position: relative;
}

.leftSocialCol {}

.following {

    width: 100%;
    overflow-x: hidden;
    max-height: 350px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.suggestion {

    width: 100%;
    overflow-x: hidden;
    max-height: 650px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}




.bloc {

    width: 100%;
    overflow-x: hidden;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.blocAffiche {

    width: 100%;
    overflow-x: hidden;
    height: 250px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/**Post Input**/
.media {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.rowPostInput {
    display: flex;
    justify-content: center;
}

.inputCol {
    width: 100%;
}

.postInputCreate {
    background-color: #202020;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.postInputCreate textarea {
    outline: #fff;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    resize: none;
}


.avatarCol {
    width: 20%;
}

.avatarCol img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.rowBtn {
    display: flex;
    justify-content: flex-end;
}

.rowBtn button {
    margin-right: 0.5rem;
}

/** Post Lists **/
.postList {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}