.socialContainer {
    max-width: 1600px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    gap: 0 25px;
    min-height: 100vh;
    margin-top: 4%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #424242;

}

.leftSocialCol,
.rightSocialCol,
.mainSocialCol {
    padding: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;


}

.mainSocialCol {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.rightSocialCol {
    overflow: hidden;

    position: relative;
}

/*** Search Contact ***/
.searchContactInput {
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}


.leftSocialCol {}

.following {

    width: 100%;
    overflow-x: hidden;
    max-height: 350px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.suggestion {

    width: 100%;
    overflow-x: hidden;
    max-height: 650px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}




.bloc {

    width: 100%;
    overflow-x: hidden;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.blocAffiche {

    width: 100%;
    overflow-x: hidden;
    height: 250px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/**Post Input**/
.media {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.rowPostInput {
    display: flex;
    justify-content: center;
}

.inputCol {
    width: 100%;
}

.postInputCreate {
    background-color: #202020;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 12px;
}

.postInputCreate textarea {
    outline: #fff;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    resize: none;
    padding-top: 8px;
    padding-bottom: 8px;
}


.avatarCol {
    width: 20%;
}

.avatarCol img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.rowBtn {
    display: flex;
    justify-content: flex-end;
}

.rowBtn button {
    margin-right: 0.5rem;
}

/** Post Lists **/
.postList {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}


/**Preview Create Post **/

.preViwContainer {
    margin-bottom: 0.8rem;
    text-align: center;
}

.preViwContainer img {
    max-width: 100%;
}

/**Trend post ou les + aimés **/

.trendContainer {
    margin-top: 1rem;
}


/** Media Queries **/

@media screen and (max-width:1200px) {
    .avatarCol {
        margin-right: 1.2rem;

    }

    .mainSocialCol {
        padding-left: 0;
        padding-right: 0;
    }


}


@media screen and (max-width:780px) {

    .leftSocialCol,
    .rightSocialCol {
        display: none;
    }

    .socialContainer {
        display: block;
        max-width: 560px;
    }

    .mainSocialCol {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 5rem;

    }

}



@media screen and (max-width:550px) {

    .socialContainer {
        max-width: 95%;
    }

    .leftSocialCol,
    .rightSocialCol {
        display: none;
    }


    .mainSocialCol {
        margin-top: 1rem;
    }

    .rowPostInput {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .avatarCol {
        margin-bottom: 1rem;
    }

    .postInputCreate textarea {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .rowBtn button {
        font-size: 0.6rem !important;
    }
}