.navRow {
    display: flex;
    width: 100%;
    position: relative;

}

.navColLink {
    padding: 0;
    margin: 0;
    list-style: none;




}

.navColLink li {
    display: inline;
    font-size: 1.2rem;

}

.navColLink li:not(:last-of-type) {
    margin-right: 1.2rem;
}

.navColLinkItem {
    list-style: none;
}

.navColRight {
    width: 25%;
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: flex-end;

}

.navColRight span {
    font-weight: bold;
    margin-right: 0.8rem;
}

.navColLeft {

    width: 6rem;


}

.navColCenter {
    display: flex;
    width: 100%;
    justify-content: center;


}

.navAvatar {
    height: 40px;
    width: 40px;
    border: solid 1px #262626;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.logoutContainer {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 60px;
}

.logoutContainer span {
    font-size: 1.2rem;
    transition: all ease-in 0.3s;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
}

.logoutContainer span:hover {
    color: #F93154;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}